[submodule "dkjson"]
	path = dkjson
	url = https://github.com/LuaDist/dkjson.git
[submodule "lib/dkjson"]
	path = lib/dkjson
	url = https://github.com/LuaDist/dkjson.git
[submodule "lib/Ser"]
	path = lib/Ser
	url = https://github.com/gvx/Ser.git
